<div id="top-container">
        <h1 id="main-title">Encontre o Emprego dos seus Sonhos</h1>
        <p id="main-subtitle">Somos o site com mais vagas de tecnologia do mercado direcionadas a home office.</p>
        <form id="search-form" action="" class="d-flex">
            <input type="text" class="form-control me-2" id="job" name="job" placeholder="Digite o nome da vaga...">
            <button type="submit" class="btn btn-custom">Procurar</button>
        </form>
    </div>

    <main>
        <div id="jobs-container" class="container">
            <h2 id="job-list-title">Veja as nossas vagas em destaque.</h2>
            <ul id="job-list" class="list-unstyled">
                <li class="d-flex align-items-start">
                    <img src="/img/icon.svg" alt="Company">
                    <div>
                        <p><strong>Empresa</strong></p>
                        <h2>Título da Vaga</h2>
                        <p>R$2000,00</p>
                        <span class="badge bg-success">Nova</span>
                        <a href="" class="btn btn-primary btn-sm">Ver Vaga</a>
                    </div>
                </li>
                <li class="d-flex align-items-start">
                    <img src="/img/icon.svg" alt="Company">
                    <div>
                        <p><strong>Empresa</strong></p>
                        <h2>Título da Vaga</h2>
                        <p>R$2000,00</p>
                        <a href="" class="btn btn-primary btn-sm">Ver Vaga</a>
                    </div>
                </li>
                <li class="d-flex align-items-start">
                    <img src="/img/icon.svg" alt="Company">
                    <div>
                        <p><strong>Empresa</strong></p>
                        <h2>Título da Vaga</h2>
                        <p>R$2000,00</p>
                        <a href="" class="btn btn-primary btn-sm">Ver Vaga</a>
                    </div>
                </li>
            </ul>
        </div>
    </main>